# Dependencies
node_modules/
dist/
build/

# Environment Variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db
*.swp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
coverage/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Runtime / Data
/.data/
/attached_assets/
server/public/

# Build artifacts / Cache
.eslintcache
.stylelintcache
*.tsbuildinfo
.vite/

# Replit / Tooling specific
vite.config.ts.*
*.tar.gz

# Local Netlify folder
.netlify